■主催者情報
  お名前: <TMPL_VAR NAME="p1_name">
  メールアドレス: <TMPL_VAR NAME="email">
  <TMPL_VAR NAME="CONNAME">番号: <TMPL_VAR NAME="reg_num">
  お電話番号: <TMPL_VAR NAME="tel">
  FAX番号: <TMPL_VAR NAME="fax">
  携帯電話番号: <TMPL_VAR NAME="cellphone">

■企画情報
  企画名称: <TMPL_VAR NAME="pg_name">
  フリガナ: <TMPL_VAR NAME="pg_name_f">
  企画種別: <TMPL_VAR NAME="pg_kind">

  希望場所: <TMPL_VAR NAME="pg_place">
  会場レイアウト: <TMPL_VAR NAME="pg_layout">
  希望日時: <TMPL_VAR NAME="pg_time">
  希望コマ数: <TMPL_VAR NAME="pg_koma">
  予想参加者: <TMPL_VAR NAME="pg_ninzu">

  内容公開可否: <TMPL_VAR NAME="pg_naiyou_k">
  内容: <TMPL_VAR NAME="pg_naiyou">
  リアルタイム公開: <TMPL_VAR NAME="pg_kiroku_kb">
  事後公開: <TMPL_VAR NAME="pg_kiroku_ka">

  使用機材
    ホワイトボード: <TMPL_VAR NAME="wbd">
    壇上用マイク(固定): <TMPL_VAR NAME="mic">
    客席用マイク(可動): <TMPL_VAR NAME="mic2">
    プロジェクタまたは大型モニタ: <TMPL_VAR NAME="mon">
    DVDプレイヤー: <TMPL_VAR NAME="dvd">
    BDプレイヤー: <TMPL_VAR NAME="bdp">
    書画カメラ: <TMPL_VAR NAME="syo">
    その他要望機材: <TMPL_VAR NAME="fc_other_naiyou">
    持ち込み映像機器: <TMPL_VAR NAME="fc_vid">
    持ち込みPC: <TMPL_VAR NAME="fc_pc">
    インターネット接続: <TMPL_VAR NAME="lan">
    その他持ち込み予定機材: <TMPL_VAR NAME="fc_mochikomi">

  企画を立てるのは: <TMPL_VAR NAME="pg_enquete">
  重なると困る企画: <TMPL_VAR NAME="pg_badprog">

■出演者情報
  企画申込者は出演 <TMPL_VAR NAME="youdo">
<TMPL_LOOP NAME="GUEST_LOOP">
  No: <TMPL_VAR NAME="pp_number"> <TMPL_VAR NAME="pp_name"> (<TMPL_VAR NAME="pp_name_f">) 出演交渉: <TMPL_VAR NAME="pp_con"> ゲスト申請: <TMPL_VAR NAME="pp_grq">
</TMPL_LOOP>

■備考欄
  <TMPL_VAR NAME="fc_comment">

