<input type="radio" name="pg_kiroku_kb" value="CX-0">UST等動画を含む全て許可<br>
<input type="radio" name="pg_kiroku_kb" value="CX-1">twitter等テキストと静止画公開可<br>
<input type="radio" name="pg_kiroku_kb" value="CX-2">テキストのみ公開可<br>
<input type="radio" name="pg_kiroku_kb" value="CX-3">公開不可<br>
<input type="radio" name="pg_kiroku_kb" value="CX-9" >その他<br>
<div class="indent commtext">
    ※公開を許可される場合には参加者の方に公開される旨ご周知ください。<br/>
    作権・肖像権等の問題が発生した場合には、企画主催者が責任を持ってご対応ください。ご対応が困難な場合には公開を許可しないでください。
</div>
