<input type="radio" name="pg_time" value="T-N">特になし<br>
<input type="radio" name="pg_time" value="T-200">29日(土)のどこでも
<input type="radio" name="pg_time" value="T-201">29日(土)午前
<input type="radio" name="pg_time" value="T-202">29日(土)午後
<input type="radio" name="pg_time" value="T-203">29日(土)夜(パーティ後)<br>
<input type="radio" name="pg_time" value="T-210">30日(日)のどこでも
<input type="radio" name="pg_time" value="T-211">30日(日)午前
<input type="radio" name="pg_time" value="T-212">30日(日)午後<br>
<input type="radio" name="pg_time" value="T-A">両日
<input type="radio" name="pg_time" value="T-X1">その他
    <input type="text" name="pg_time2" size="30"><br>

