<input type="radio" name="pg_koma" value="TK-1">１コマ(90分+準備30分)
<input type="radio" name="pg_koma" value="TK-2">２コマ(210分+準備30分)
<input type="radio" name="pg_koma" value="TK-A">終日<br/>
<input type="radio" name="pg_koma" value="TK-X1">その他
    <input type="text" name="pg_koma2" size="30">
