<input type="radio" name="pg_kiroku_ka" value="CX-0">UST等動画を含む全て許可<br>
<input type="radio" name="pg_kiroku_ka" value="CX-1">blog等テキストと静止画公開可<br>
<input type="radio" name="pg_kiroku_ka" value="CX-2">テキストのみ公開可<br>
<input type="radio" name="pg_kiroku_ka" value="CX-3">公開不可<br>
<input type="radio" name="pg_kiroku_ka" value="CX-9" >その他<br>

