<b>提供予定機材</b><br/>
今大会では以下の設備が無料使用可能です。<br/>
企画に使用したい機材をチェックして下さい。(マイクに関してはだいたいの本数も記入願います<BR/>
<div class="commtext">
    ただし、数や予算に限りがありますので、無料提供出来ない場合があることをご了承下さい。<br/>
</div>
<div><input type="checkbox" name="wbd" value="wbd"><span>ホワイトボード</span></div>
<div><input type="checkbox" name="mic" value="mic"><span>壇上用マイク(固定)</span>
    本数<input type="text" name="miccnt" size="10">本(半角で記入)</div>
<div><input type="checkbox" name="mic2" value="mic2"><span>客席用マイク(可動)</span>
    本数<input type="text" name="mic2cnt" size="10">本(半角で記入)</div>
<div><input type="checkbox" name="mon" value="mon"><span>プロジェクタまたは大型モニタ</span></div>
<div><input type="checkbox" name="dvd" value="dvd"><span>BD/DVDプレイヤー</span></div>
<div><input type="checkbox" name="syo" value="syo"><span>書画カメラ</span></div>
