<input type="radio" name="pg_place" value="P-N">特になし
<input type="radio" name="pg_place" value="P-C1">会議室
<input type="radio" name="pg_place" value="P-H1">小ホール(300人)<br/>
<input type="radio" name="pg_place" value="P-X1">その他
    <input type="text" name="pg_place2" size="30">
<P/>
レイアウトの選択<br/>
<input type="radio" name="pg_layout" value="0">シアター
<input type="radio" name="pg_layout" value="1" checked>スクール
<input type="radio" name="pg_layout" value="2">ロの字
<input type="radio" name="pg_layout" value="3">島組<br/>
<input type="radio" name="pg_layout" value="9">その他
    <input type="text" name="pg_layout2" size="30"><br/>
<div class="indent commtext">
    小ホールはシアター形式です。<BR />
    会議室は、原則としてスクール形式です。スクール形式以外のレイアウトを希望される方は明記願います。
</div>
