<input type="radio" name="pg_ninzu" value="TN-0">不明
<input type="radio" name="pg_ninzu" value="TN-1">20人まで
<input type="radio" name="pg_ninzu" value="TN-2">50人まで
<input type="radio" name="pg_ninzu" value="TN-3">100人まで
<input type="radio" name="pg_ninzu" value="TN-4">200人まで
<input type="radio" name="pg_ninzu" value="TN-5">200人超

