<input type="radio" name="pg_kind" value="K-A1">講演
<input type="radio" name="pg_kind" value="K-A2">パネルディスカッション
<input type="radio" name="pg_kind" value="K-A3">講座
<input type="radio" name="pg_kind" value="K-A4">上映
<input type="radio" name="pg_kind" value="K-A5">座談会
<input type="radio" name="pg_kind" value="K-A6">お茶会
<input type="radio" name="pg_kind" value="K-A7">ゲーム
<input type="radio" name="pg_kind" value="K-B1">コンサート
<input type="radio" name="pg_kind" value="K-C1">展示
<input type="radio" name="pg_kind" value="K-D1">印刷物発行
<input type="radio" name="pg_kind" value="K-E1">投票<br/>
<input type="radio" name="pg_kind" value="K-X1">その他
    <input type="text" name="pg_kind2" size="30">
